<%= form_with(model: icd, local: true) do |form| %>
  <% if icd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(icd.errors.count, "error") %> prohibited this icd from being saved:</h2>

      <ul>
        <% icd.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :version %>
    <%= form.text_field :version %>
  </div>

  <div class="field">
    <%= form.label :text_de %>
    <%= form.text_field :text_de %>
  </div>

  <div class="field">
    <%= form.label :text_fr %>
    <%= form.text_field :text_fr %>
  </div>

  <div class="field">
    <%= form.label :text_it %>
    <%= form.text_field :text_it %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
