<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ear_element.name %>
</p>

<p>
  <strong>Img:</strong>
  <%= @ear_element.img %>
</p>

<%= link_to 'Edit', edit_ear_element_path(@ear_element) %> |
<%= link_to 'Back', ear_elements_path %>
